

body {
  font-family: sans-serif;
  color:wheat;
  margin: 0px;
  padding: 0px;
}
  
.icon a {
    text-decoration: none;
  }
  
img{
  text-decoration: none;
  
}
  .nav ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgb(252, 255, 252);
    height: 10vh;
  }
  .nav li {
    float: right;
    margin-top: 25px;
    margin-right: 45px;
    padding-right: 11px;
  
  }
  
  .nav li a {
    display: inline-flex;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2ch;
    font-family: monospace;
    text-decoration: none;
  }
  
  .nav li a:hover {
 
   color: rgb(255, 0, 0);
   height: 3vh;
  transition: 0.5s;
  
  }